*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: #222324;

}

.menu{
    position: absolute;
    left: -30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #5a5a5a;
    width: 20%;
    height: 100%;
    transition: 0.5s;
}

.menu h1{
    position: relative;
    right: -200px;
    top: -320px;
    cursor: pointer;
    text-decoration: none;
    color: #b6b6b6;
    font-size: 30px;
    transition: 0.5s;
    margin-bottom: 20px;
}

.menu h1:hover{
    color: #ffffff;
}

li{
    list-style: none;
}

a {
    text-decoration: none;
    color: #b6b6b6;
    font-size: 30px;
    transition: 0.5s;
    margin-bottom: 20px;
}

a:hover {
    color: #ffffff;
}

.button-container{
    display: flex;
    flex-direction: column;
    width: 40px;
    height: 30px;
    margin-left: 30px;
    margin-top: 20px;
}

.button-toggle{
    cursor: pointer;
    width: 40px;
    height: 8px;
    background-color: #000000;
    margin-bottom: 3px;

}

.active{
    display: absolute;
    left: 0;
}